
 <table width="100%"class="tabelas">
   <tr>
    <th colspan="2" align="left"><center><font  size=4 color="black"> <b>EDITAL DE INSCRIÇÃO DE PROFESSORES EVENTUAIS</b></font> <br/> <font  size=3 color="black"> <b>Secretaria da Educação da Prefeitura Municipal de Americana</b></font></center></th>
    <th><center>    <%= link_to image_tag("/images/excluir.png", :size => "20x20"),  root_path, {:method => "get"}, :title => "Fechar"%></center></th>
   </tr>
 </table>

  <table class="tabelas">
  <tr>
    <td colspan="3"><center></center><center><b><%= "Para download completo do edital     #{ link_to "| Clique aqui |", download_edital_path}"%></b></center></td>
  </tr>
  <tr>
    <td colspan="3"><b>EDITAL GERAL DO PROCESSO SELETIVO N.º  01/2013 (RESUMO)</b><br/>
     Processo Administrativo n.º 01/2013<br/>
     A Prefeitura Municipal de Americana, por intermédio da Secretaria de Educação, faz saber que será realizado Processo Seletivo de Professores Eventuais conforme previto na  Lei Municipal nº 3.335, de 1º de outubro de 1999,  a saber:<br/>
     <b>1 - DOS EMPREGOS</b> &nbsp&nbsp&nbsp&nbsp<u>(para outras informações faça dowload do edital completo)</u><br/>
     &nbsp&nbsp a) PROFESSOR DE CRECHE <br/>
     &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Valor bruto por hora aula trabalhada: R$ 8,29;<br/>
     &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Escolaridade: Nível Médio Completo em Magistério (Normal), Normal Superior ou Pedagogia;<br/>
     &nbsp&nbsp b) PROFESSOR DE EDUCAÇÃO BÁSICA - PEB  I (EDUCAÇÃO INFANTIL)<br>
     &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Valor bruto por hora aula trabalhada: R$ 13,98<br/>
     &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Escolaridade: (Curso Superior Completo): Curso Normal SUPERIOR ou Pedagogia.<br/>
     &nbsp&nbsp c) PROFESSOR DE EDUCAÇÃO BÁSICA ESPECIAL (Atendimento à escola Tempo de Viver)<br/>
     &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Valor bruto por hora aula trabalhada: R$ 15,54<br/>
     &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Escolaridade: Pedagogia com formação específica em educação especial<br/>
     &nbsp&nbsp d) PROFESSOR DE EDUCAÇÃO BÁSICA 1 - PEB 1 (ENSINO FUNDAMENTAL E  ESCOLA DE JOVENS E ADULTOS)<br/>
     &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Valor bruto por hora aula trabalhada: R$ 13,98<br/>
     &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Escolaridade: (Curso Superior Completo): Normal Superior ou Pedagogia<br/>
     &nbsp&nbsp e) PROFESSOR DE EDUCAÇÃO BÁSICA 2 - PEB 2 (ENSINO FUNDAMENTAL)<br/>
     &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Valor bruto por hora aula trabalhada: R$ 15,33<br/>
     &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Escolaridade: Nível Superior Completo com Licenciatura Plena na Disciplina Específica.<br/>
     <b>2 - DOS CANDIDATOS COM DEFICIÊNCIA:</b> &nbsp&nbsp&nbsp&nbsp<u>(para outras informações faça dowload do edital completo)</u><br/>
     <b>3 - DAS INSCRIÇÕES</b> &nbsp&nbsp&nbsp&nbsp<u>(para outras informações faça dowload do edital completo)</u><br/>
     &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 3.1 - As inscrições para &nbsp o &nbsp Processo &nbsp Seletivo &nbsp para &nbsp substituição&nbsp em&nbsp caráter&nbsp eventual&nbsp estarão&nbsp abertas&nbsp de &nbsp04/11/2013 &nbspa 08/11/2013,  pelo site <b>eventual.seducpma.com</b> . O interessado deverá preencher formulário on-line.<br/>
     &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 3.2 - O candidato deverá &nbsp entregar, &nbsp no &nbsp período de 11/11/2013 à 14/11/2013,  na Secretaria Municipal de Educação, sita à Rua São Vito, nº 1.675, bairro São Luiz, no horário das 9h00 às 16h00,  envelope com sua identificação,  contendo cópia dos seguintes documentos: RG, CPF, PIS/PASEP<br/>
     &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 3.3 - Os candidatos com deficiência &nbsp deverão &nbsp entregar junto com a documentação, a cópia do laudo médico comprovando a deficiência e comprovar capacidade para exercer a função.<br/>
     &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 3.7 - O interessado poderá se inscrever para apenas um dos cargos, de sua livre escolha.<br/>
     &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 3.8 - O interessado deverá apresentar os &nbsp documentos &nbsp&nbsp comprobatórios &nbsp&nbsp quando &nbsp de &nbsp sua  &nbsp primeira &nbsp convocação &nbsp para &nbsp o trabalho.<br/>
     <b>4 - DA PROVA</b> &nbsp&nbsp&nbsp&nbsp<u>(para outras informações faça dowload do edital completo)</u><br/>
     &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 4.1 - A prova para o Processo Seletivo para substituição em caráter eventual será realizada no dia 30/11/2013,  às 8h30, no CIEP “Prof. Octávio César Borghi”, sito à Rua das Hortências, nº 1.550, bairro Cidade Jardim, Americana/SP.,  para: Professor de Creche, Professor de Educação Básica 1 - Ensino Fundamental; Professor de Educação Básica - Educação Infantil e Professor de Educação Especial; <br/>
     &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 4.2 - A prova para o Processo Seletivo para substituição em caráter eventual será realizada no dia 30/11/2013,  às 14h30,  no CIEP “Prof. Octávio César Borghi”, sito à  Rua das Hortências, nº 1.550, bairro Cidade Jardim, Americana/SP., para: Professor de Educação Básica 2 (Especialista);<br/>
     <b>5 - DA CLASSIFICAÇÃO</b> &nbsp&nbsp&nbsp&nbsp<u>(para outras informações faça dowload do edital completo)</u><br/>
     <b>6 - DA CONVOCAÇÃO</b> &nbsp&nbsp&nbsp&nbsp<u>(para outras informações faça dowload do edital completo)</u><br/>
     <b>7 - DA CONTRATAÇÃO</b> &nbsp&nbsp&nbsp&nbsp<u>(para outras informações faça dowload do edital completo)</u><br/>
     <b>8 - DA ATUAÇÃO</b> &nbsp&nbsp&nbsp&nbsp<u>(para outras informações faça dowload do edital completo)</u><br/>
     <b>9 - DAS DISPOSIÇÕES FINAIS</b> &nbsp&nbsp&nbsp&nbsp<u>(para outras informações faça dowload do edital completo)</u><br/>
     <b>10-PROGRAMA DE PROVAS</b> &nbsp&nbsp&nbsp&nbsp<u>(para outras informações faça dowload do edital completo)</u><br/>

    </td>
  </tr>
    <tr>
      <td align="left" width="80%"><%= link_to "Ciente", new_formulario_path,:id => "inscreva-se", :class => 'button' %></td>
      <td align="right"><%= link_to "Sair", root_path,:id => "inscreva-se", :class => 'button' %></td>

    </tr>
</table>