
 <table width="100%"class="tabelas">
   <tr>
    <th colspan="2" align="left"><center><font  size=4 color="black"> <b>EDITAL DE INSCRIÇÃO DE PROFESSORES EVENTUAIS</b></font> <br/> <font  size=3 color="black"> <b>Secretaria da Educação da Prefeitura Municipal de Americana</b></font></center></th>
    <th><center>    <%= link_to image_tag("/images/excluir.png", :size => "20x20"),  root_path, {:method => "get"}, :title => "Fechar"%></center></th>
   </tr>
 </table>

  <table class="tabelas">
  <tr>
    <td colspan="3">
      Blablablabla blablabla blablabla <br/>
      Blablablabla blablabla blablabla <br/>
      Blablablabla blablabla blablabla <br/>
      Blablablabla blablabla blablabla <br/>
      Blablablabla blablabla blablabla <br/>
    </td>
  </tr>
    <tr>
      <td align="left" width="80%"><%= link_to "Ciente", new_formulario_path,:id => "inscreva-se", :class => 'button' %></td>
      <td align="right"><%= link_to "Sair", root_path,:id => "inscreva-se", :class => 'button' %></td>

    </tr>
</table>