

<br/>
 <table width="100%"class="tabelas">
    <tr>
    <th colspan="2" align="left"><font  size=4 color="black"> <b>Ficha de Inscrição de Professores Eventuais</b></font> - <font  size=3 color="black"> <b>Secretaria da Educação</b></font></th>
    <th>    <%= link_to image_tag("/images/excluir.png", :size => "20x20"),  root_path, {:method => "get"}, :title => "Fechar"%></th>
  </tr>
  </table>
<table class="tabelas" >
  <tr>
    <td colspan="3" align ="center">
      <font color ="Red" size ="3" ><br/><center> FUNCIONÁRIOS DA PREFEITURA MUNICIPAL DE AMERICANA </center><br/>
      <center>NÃO ESTÃO HABILITADOS A FAZER INSCRIÇÃO</center><br/></font>
    </td>
  </tr>
</table>


