<table class="tabelas" width="100%" align="center" >
  <tr>
     <th width="96%" align="left"><font  size=4 color="black"> <b>Departamento de Recursos Humanos</b></font> - <font  size=3 color="black"> <b>Secretaria da Educação</b></font></th>
     <th>    <%= link_to image_tag("/images/excluir.png", :size => "20x20"),  root_path, {:method => "get"}, :title => "Fechar"%></th>
  </tr>
  <table>
  <tr>
    <td colspan="3"><b><u>Contato:</u></b></td>
  </tr>
  <tr>
    <td></td>
    <td width="10%"><b>Endereço:</b></td>
    <td>Rua das São Vito, 1675 - São Luiz / Americana-SP</td>
  </tr>
  <tr>
    <td></td>
    <td><b>Telefone:</b></td>
    <td>(19)3475-9700    &nbsp&nbsp&nbsp&nbsp    <b> Ramal:</b> RH</td>
  </tr>
  <tr>
    <td></td>
    <td><b>Email:</b></td>
    <td>rh.seduc@americana.sp.gov.br</td>
  </tr>
  <tr>
    <td colspan="3" >
      <%= link_to "Voltar",root_path, :class => "button" %></td>
  </tr>
  </table>
</table>
